flask==3.0.0
flask-cors==4.0.0
biopython==1.83
numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
scikit-learn==1.4.1.post1
seaborn==0.13.2
gunicorn==21.2.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
torchvision==0.17.1+cpu
torchaudio==2.2.1+cpu
